<%- layout("/layouts/boilerplats") %>

<div class="row mt-5 offset-2">
  <h2>Inventory Form</h2>
  <form method="POST" action="/inventory/new">
    <div class="col-6">
      <label for="itemTitle" class="form-label">Title</label>
      <input type="text" class="form-control" name="itemTitle" />
    </div>
    <div class="row">
      <div class="col-4">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" name="quantity" />
      </div>
      <div class="col-4">
        <label for="inventoryType" class="form-label">Type</label>
        <input type="text" class="form-control" name="inventoryType" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="marketPrice" class="form-label">Market Price</label>
        <input type="number" class="form-control" name="marketPrice" />
      </div>
      <div class="col-4">
        <label for="costPrice" class="form-label">Cost Price</label>
        <input type="number" class="form-control" name="costPrice" />
      </div>
    </div>

    <button type="submit" class="btn btn-dark mt-5">Add Item</button>
  </form>
</div>
